<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<hr>
<!--<empleados></empleados>-->
<!--<fruta></fruta>-->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="navbar fixed-left navbar-light">
  <a  class="navbar-brand" [routerLink]="'/home'" [routerLinkActive]="'active'">
    Home
  </a>
  -
  <a  class="navbar-brand" [routerLink]="'/contacto'" [routerLinkActive]="'active'">
    Contacto
  </a>
  -
  <a  class="navbar-brand" [routerLink]="'/fruta'" [routerLinkActive]="'active'">
    Fruta
  </a>
  -
  <a  class="navbar-brand" [routerLink]="'/empleado'" [routerLinkActive]="'active'">
    Empleado
  </a>
  -
  <a  class="navbar-brand" [routerLink]="'/coche'" [routerLinkActive]="'active'">
    Coche
  </a>
  -
  <a  class="navbar-brand" [routerLink]="'/plantilla'" [routerLinkActive]="'active'">
    Plantilla
  </a>
</nav>
<router-outlet></router-outlet>
